{% extends "base.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/normal.css' | url }}">
  <!--link rel="stylesheet" href="{{ 'assets/stylesheets/custom.00c04c01.min.css' | url }}"-->
  <link rel="stylesheet" href="{{ 'assets/stylesheets/font.css' | url }}">
{% endblock %}

{% block htmltitle %}
{% if page.meta and page.meta.title %}
  <title>{{ config.site_name }}</title>
{% elif page.title and not page.is_homepage %}
  <title>{{ config.site_name }}</title>
{% else %}
  <title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}

{% block footer %}

{% endblock %}